  <section class="page-section cta">
  <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center rounded">
                 <h2 class="section-heading mb-4">
                <span class="section-heading-upper">ADMINISTRATOR</span>
                <span class="section-heading-lower">WELCOME TO DASHBOARD</span>
              </h2>

                <div class="box box-success">
            <div class="box-header with-border">
            </div>
            
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
               <h3>Top 10 customers with most numbers of Orders</h3>
                <tr>   
                  <th>Customer Name</th>
                  <th>Number of Orders</th>
                </tr>

               {{#each topCustomersMostOrder}}
                   <tr>
                  <td>{{this.first_name}} {{this.last_name}}</td>
                  <td>{{this.num_orders}}</td>
                  </tr>
                {{/each}}

              </table>

              <table class="table table-striped">
               <h3>Top 10 customers with Highest Payment</h3>
                <tr>   
                  <th>Customer Name</th>
                  <th>Total Payment</th>
                </tr>

               {{#each topCustomersHighestPayment}}
                   <tr>
                  <td>{{this.first_name}} {{this.last_name}}</td>
                  <td>{{this.totalprice}} PHP</td>
                  </tr>
                {{/each}}

              </table>

              <table class="table table-striped">
              <h3>Top 10 Most Ordered Products</h3>

                <tr>   
                  <th>Products Name</th>
                  <th>Number of Orders</th>
                </tr>

               {{#each mostOrderedProduct}}
                   <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.num_orders}}</td>
                  </tr>
                {{/each}}    
              
              </table>

                <!---TOP 5---->

               <table class="table table-striped">
              <h3>Top 10 Least Ordered Products</h3>

                <tr>   
                  <th>Products Name</th>
                  <th>Number of Orders</th>
                </tr>

               {{#each leastOrderedProduct}}
                   <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.num_orders}}</td>
                  </tr>
                {{/each}}    
              
              </table>
      

               <table class="table table-striped">
              <h3>Top 3 Most Ordered Brands</h3>

                <tr>   
                  <th>Products Name</th>
                  <th>Number of Orders</th>
                </tr>

               {{#each mostOrderedBrand}}
                   <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.num_orders}}</td>
                  </tr>
                {{/each}}    
              
              </table>
      

       <table class="table table-striped">
              <h3>Top 3 Most Ordered Categories</h3>

                <tr>   
                  <th>Products Name</th>
                  <th>Number of Orders</th>
                </tr>

               {{#each mostOrderedCategory}}
                   <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.num_orders}}</td>
                  </tr>
                {{/each}}    
              
              </table>
                 
            </div>
          </div>
        </div>
  </div>
</section>