<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">

    <span class="btn btn-sm btn-primary" id="addUserbtn" style="margin-right:5px" onclick="location.href='/admin/product/update/{{prod_id}}';" ">Update Product</span>


        <div class="cta-inner text-center rounded">
       
        <section class="content-header">
      <h1>
        {{prod_name}}
      </h1>
    <br>

    </section>

    

    <div class="box-body" >
      <div class="box-body box-profile">

                <img src="{{prod_picture}}" class="img-fluid">

                <li type="none">
                   <b>Price: </b> <a class="pull-right">P{{prod_price}}</a>
                </li>
                <li type="none">
                  <b>Brand: </b> <a class="pull-right">{{brandname}}</a>
                </li>
                <li type="none">
                  <b>Category/Type: </b> <a class="pull-right">{{categoryname}}</a>
                </li>
                <li type="none">
                  <b>Description: </b> <a class="pull-right">{{prod_desc}}</a>
                </li>

                <li class="list-group-item" type="none">
                  <b>Tagline: </b> <a class="pull-right">{{prod_tagline}}</a>
                </li>
        <li class="list-group-item" type="none">
                  <b>Warranty: </b> <a class="pull-right">{{prod_warranty}} days</a>
                </li>
        </ul>
              
            </div>
        </div>


         </div>
        </div>
    
   <div class="box-body">

            </div>



                 
            </div>
          </div>
        </div>
  </div>
</section>