<style>
  .grid{
  height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<section class="page-section cta">
  <div class="container center">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center rounded">
              
                <div class="box">
        <div class="box-header with-border">
          <h2 class="box-title">Products for Sale</h2>
      
        </div>
        <div class="box-body" align="center">

             
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
      <th scope="col">View</th>
    </tr>
  </thead>


  <tbody>

 {{#each data}}

    <tr>
     <td><div class="grid"> <img src="{{this.picture}}" class="img-fluid"></div></td>
      <td><p font-size:3vw; font-style:"none">{{this.name}}</p></td>
      <td><p font-size:3vw;>P {{this.price}}</p></td>
      <td><p font-size:2vw;>{{this.description}}</p></td>
      <td><span class="btn btn-sm btn-primary" id="addUserbtn" style="margin-right:5px" onclick="location.href='/admin/products/{{this.product_id}}';" ">View Product</span></td>
    </tr>

      
      {{/each}}



  </tbody>
</table>
          </div>
        </div>
        <div class="box-header with-border" align="center">
        <span class="btn btn-sm btn-primary pull-right" id="addUserbtn" style="margin-right:5px" onclick="location.href='/admin/createproduct';" ">ADD Product</span>
  </div>
  </div>
</section>

