<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">

        <div class="cta-inner text-center rounded">
       
        <section class="content-header">
      <h1>
        {{prod_name}}
      </h1>
    <br>

    </section>

    

    <div class="box-body" >
      <div class="box-body box-profile">
              <h3 >{{prod_name}}</h3>
                <li >
                   <b>Price: </b> <a class="pull-right">P{{prod_price}}</a>
                </li>
                
                <li >
                  <b>Brand: </b> <a class="pull-right">{{brandname}}</a>
                </li>
                <li >
                  <b>Category/Type: </b> <a class="pull-right">{{categoryname}}</a>
                </li>
                <li >
                  <b>Description: </b> <a class="pull-right">{{prod_desc}}</a>
                </li

                <li class="list-group-item">
                  <b>Tagline: </b> <a class="pull-right">{{prod_tagline}}</a>
                </li>
        <li class="list-group-item">
                  <b>Warranty: </b> <a class="pull-right">{{prod_warranty}} days</a>
                </li>
        </ul>
              
            </div>
        </div>


         </div>
        </div>
    
   <div class="box-body">
              <form role="form" method="post" action="/client/send-email/{{prod_id}}">
                <!-- text input -->
        <div class="form-group">
                  <label>Product Id</label>
                  <input name="id" type="text" class="form-control" disabled value="{{prod_id}}">
                </div>
        <div class="form-group">
                  <label>Product Quantity</label>
                  <input name="quantity" type="text" class="form-control" placeholder="Enter ..." required="required">
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input name="fname" type="text" class="form-control" placeholder="Enter ..." required="required">
                </div>
        <div class="form-group">
                  <label>Last Name</label>
                  <input name="lname" type="text" class="form-control" placeholder="Enter ..." required="required">
                </div>
        
        <div class="form-group">
                  <label>Email</label>
                  <input name="email" type="email" class="form-control" placeholder="Enter ..." required="required">
                </div>
        <div class="form-group">
                  <label>Street</label>
                  <input name="street" type="text" class="form-control" placeholder="Enter ..." required="required">
                </div>
        <div class="form-group">
                  <label>Municipality/City</label>
                  <input name="municipality" type="text" class="form-control" placeholder="Enter ..." required="required">
                </div>
        <div class="form-group">
                  <label>Province</label>
                  <input name="province" type="text" class="form-control" placeholder="Enter ..." required="required">
                </div>
        <div class="form-group">
                  <label>Zip Code</label>
                  <input name="zipcode" type="number" class="form-control" placeholder="Enter ..." required="required">
                </div>
        <div class="form-group">
           <button type="submit" class="btn bg-purple margin">Send</button>
                </div>
        
              </form>
            </div>



                 
            </div>
          </div>
        </div>
  </div>
</section>


<script type="text/javascript">
  $(document).ready(function () {
    
   
  });
  
  function showModal(var4,var5){
    if(var4=='delete'){
    $('#myModal').modal("show");  
    $('#mod-title').html("Delete Product");
    $('#mod-content').html(
          '<input type="text" id="updateIdx" hidden>'+
          '<div class="form-group">'+
          '<p>Would you like to delete this product?</p>'+
          '</div>'              
);
          $('#notif-mess').html(' ');
    $('#mod-footer').html('<button id="addUserSubmitform"  class="btn btn-primary" onclick=showModal("delete2") >Submit</button>'+
    '<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>');
     $('#updateIdx').val(var5);
    }
    else if(var4=='delete2'){
        
        var updateIdx = $('#updateIdx').val();
        
          $('#myModal').modal("hide");  
          location.href='/product/delete/{{prod_id}}';  
        
        
        
    }
    
    }
</script> 